@font-face {
    font-family: 'Source_Code';
    src: url('fonts/sourcecodepro-regular-webfont.woff2') format('woff2'),
         url('fonts/sourcecodepro-regular-webfont.woff') format('woff'),
         url('fonts/sourcecodepro-regular-webfont.ttf') format('truetype'),
         url('fonts/sourcecodepro-regular-webfont.svg#source_code_proregular')
         format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tds-titles';
    src: url('fonts/tds.woff2') format('woff2'),
         url('fonts/tds.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ss_light';
    src: url('fonts/sourcesanspro-light-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes fade_out { 0% { opacity:1; } 100% { opacity:0; } }
@keyframes fade_in { 0% { opacity:0; } 100% { opacity:1; } }

body,html {
    margin:0; padding:0;
    font-family: 'Source_Code', monospace;
    cursor: url(../images/yellow-cir.png), auto !important;
}

a { color:#000; }
a:hover { color:#fff; cursor: pointer; }

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

h1 {
    font-family: 'tds-titles', sans-serif;
    text-transform: uppercase;
    font-size: 64px;
    letter-spacing: 21px;
    font-weight: 100;
    text-align: center;
}

h2 {
    font-family: 'tds-titles', sans-serif;
    text-transform: uppercase;
    font-size: 38px;
    letter-spacing: 11px;
    font-weight: 100;
    text-align: center;
    margin: 110px 0px 45px 0px;
}

h3 {
    font-family: 'tds-titles', sans-serif;
    font-size: 36px; font-weight: 100; letter-spacing: 2px;
    margin:0px;
}

h4 {
    text-align: center; font-weight: 100;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

p {
    font-family: 'ss_light', sans-serif; font-size: 1.1em;
    letter-spacing: 0.09em; font-weight: 300; line-height: 1.7em;
}

button {
    border-radius: 4px; border: 1px solid #000;
    padding: 12px 40px; background: #000;
    text-transform: uppercase; color: #fff;
    font: 13px sans-serif; text-align: center;
    cursor: pointer;
}

input {
    border-radius: 4px; border: 1px solid #000;
    padding: 12px 40px; font: 13px sans-serif;
    background-color: rgba(255,255,255,0.5);
}


/*~'~._.~'~._.~'~._.~'~._.~'~._.~'~._.~'~._.~'~._.~'~._.~'~._.~'~._.~'~._.~'~*/
/*~'~._.~'~._.~'~._.~'~._.~'~._.~'~._.~'~._.~'~._.~'~._.~'~._.~'~. HOME PAGE */
/*~'~._.~'~._.~'~._.~'~._.~'~._.~'~._.~'~._.~'~._.~'~._.~'~._.~'~._.~'~._.~'~*/

.splash-bg {
    background: url(../images/bgtile.png) repeat center center fixed;
    background-color: #77d878;
}


section#splash {
    width:100%; height:100vh; min-height:320px;
    display:flex; align-items:center; justify-content:center;
}
#title { width: 90%; margin: 0 auto; display: block; }
#packet { margin: 0 auto; }
#splash-options {
    display: flex; justify-content: space-between;
    width: 460px; margin: 0 auto;
}


#project-info {
    width: 100%; display: flex; flex-direction: column;
}
#project-info > .header, #project-info > .footer{
    display: inline-block; width:100%; height:150px;
}
#project-info > .body {
    background-color: #34C8F2; width: 100%;
}
#project-info > .body > div {
    box-sizing: border-box;
    width: 100%; max-width: 780px;
    margin: 50px auto 150px auto;
    position: relative; z-index: 2; padding: 10px;
}

#sign-up { display: flex; justify-content: center; }
#sign-up > * { margin:0px 3px; }

#supporters { display: flex; justify-content: space-between; margin: 70px 0px; }
#supporters a { text-align: center; }
#supporters img { max-width: 40%; }


#open-source {
    background: url(../images/bgtile-light.png) repeat center center fixed;
    background-color: #222; color: #fff;
    padding: 250px 10px; margin-top: -150px;
}
#open-source > div { width: 100%; max-width: 780px; margin: 0 auto; }
#blog-posts > div { margin: 80px 0px; }
#open-source a { color:#fff; }
#end-card { text-align: center; margin-top: 200px; }


@media (max-width: 800px){
    h1 { font-size: 42px; letter-spacing: 8px; }
    h2 { font-size: 30px; letter-spacing: 4px; }
    h3 { font-size: 28px; }
}

@media (max-width: 500px){
    #sign-up { flex-direction: column; }
    #sign-up > * { margin: 3px; }
    #supporters { flex-direction: column; }
    #supporters > a:first-child { margin-bottom: 40px; }
    #supporters img { max-width: 60%; }
    #splash-options { width: 100%; display: block; }
    #splash-options > * { margin: 3px auto; display: block; }
}

@media (max-width: 400px){
    h1 { font-size: 32px; letter-spacing: 2px; }
    h2 { font-size: 24px; letter-spacing: 4px; }
    h3 { font-size: 24px; }
    h4 { font-size: 12px; }
    p { font-size: 1em; }
}




/*~'~._.~'~._.~'~._.~'~._.~'~._.~'~._.~'~._.~'~._.~'~._.~'~._.~'~._.~'~._.~'~*/
/*~'~._.~'~._.~'~._.~'~._.~'~._.~'~._.~'~._.~'~._.~'~._.~'~._.~'~. PLAY PAGE */
/*~'~._.~'~._.~'~._.~'~._.~'~._.~'~._.~'~._.~'~._.~'~._.~'~._.~'~._.~'~._.~'~*/

section#play {
    width:100%; height:100vh; min-height:320px;
    display:flex; align-items:center; justify-content:center;
    position:absolute; z-index:9999;
    /* background:#fff; */
    background-image: url(../images/bgtile.png);
}

section#play > button { margin: 0px auto; display: block; }

#loading { text-align: center; }
#list { display: none; }
#nfo {
    position: absolute; z-index: 9998;
    width: 100%; height: 100%; background: #000;
    color: #fff; display: flex;
}
#nfo > div {
    padding: 10px; margin: 50vh auto; max-width: 450px;
}
@media (max-width: 767px){ #nfo > div { max-width:90%; } }
