@font-face {
    font-family: 'Source_Code';
    src: url('fonts/sourcecodepro-regular-webfont.woff2') format('woff2'),
         url('fonts/sourcecodepro-regular-webfont.woff') format('woff'),
         url('fonts/sourcecodepro-regular-webfont.ttf') format('truetype'),
         url('fonts/sourcecodepro-regular-webfont.svg#source_code_proregular')
         format('svg');
    font-weight: normal;
    font-style: normal;
}

body,html {
    margin:0; padding:0;
    font-family: 'Source_Code', monospace;
    overflow-y: hidden;
    overflow-x: hidden;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
